In [2]:
import pandas as pd 
import numpy as np

df=pd.read_csv('AccidentesAviones.csv')

In [3]:
#se analizan las columnas 

df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [4]:
#se reemplazan los nulos (?) por Nan para tenerlos en un formato mas general
df=df.replace('?',np.nan)

In [5]:
#despues de analizar el dataset llegue a la conclusion que no necesito algunas columnas 
df=df.drop(columns=['flight_no','registration','cn_ln'])

In [6]:
#vemos como quedo el dataset
df.head(20)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...
5,5,"October 17, 1913",1030,"Near Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),28,NaN,NaN,28,NaN,NaN,0,Hydrogen gas which was being vented was sucked...
6,6,"March 05, 1915",0100,"Tienen, Belgium",Military - German Navy,NaN,Zeppelin L-8 (airship),41,0,41,17,0,17,0,Crashed into trees while attempting to land af...
7,7,"September 03, 1915",1520,"Off Cuxhaven, Germany",Military - German Navy,NaN,Zeppelin L-10 (airship),19,NaN,NaN,19,NaN,NaN,0,"Exploded and burned near Neuwerk Island, when..."
8,8,"July 28, 1916",NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,Schutte-Lanz S-L-10 (airship),20,NaN,NaN,20,NaN,NaN,0,"Crashed near the Black Sea, cause unknown."
9,9,"September 24, 1916",0100,"Billericay, England",Military - German Navy,NaN,Zeppelin L-32 (airship),22,NaN,NaN,22,NaN,NaN,0,Shot down by British aircraft crashing in flames.
10,10,"October 01, 1916",2345,"Potters Bar, England",Military - German Navy,NaN,Zeppelin L-31 (airship),19,0,19,19,0,19,0,Shot down in flames by the British 39th Home D...
11,11,"November 21, 1916",NaN,"Mainz, Germany",Military - German Army,NaN,Super Zeppelin (airship),28,NaN,NaN,27,NaN,NaN,0,Crashed in a storm.
12,12,"November 28, 1916",2345,"Off West Hartlepool, England",Military - German Navy,NaN,Zeppelin L-34 (airship),20,NaN,NaN,20,NaN,NaN,0,Shot down by British anti-aircraft fire and ai...
13,13,"March 04, 1917",NaN,"Near Gent, Belgium",Military - German Army,NaN,Airship,20,NaN,NaN,20,NaN,NaN,0,Caught fire and crashed.
14,14,"March 30, 1917",NaN,Off Northern Germany,Military - German Navy,NaN,Schutte-Lanz S-L-9 (airship),23,NaN,NaN,23,NaN,NaN,0,Struck by lightning and crashed into the Balti...
15,15,"May 14, 1917",0515,"Near Texel Island, North Sea",Military - German Navy,NaN,Zeppelin L-22 (airship),21,NaN,NaN,21,NaN,NaN,0,"Crashed into the sea from an altitude of 3,000..."
16,16,"June 14, 1917",0845,"Off Vlieland Island, North Sea",Military - German Navy,NaN,Zeppelin L-43 (airship),24,NaN,NaN,24,NaN,NaN,0,Shot down by British aircraft.
17,17,"June 17, 1917",NaN,"Near Yarmouth, England",NaN,NaN,Zepplin L-48 (air ship),16,NaN,NaN,14,NaN,NaN,0,Shot down by aircraft.
18,18,"August 21, 1917",0700,Off western Denmark,Military - German Navy,NaN,Zeppelin L-23 (airship),18,NaN,NaN,18,NaN,NaN,0,Shot down by British aircraft.
19,19,"October 20, 1917",0745,"Near Luneville, France",Military - German Navy,NaN,Zeppelin L-44 (airship),18,NaN,NaN,18,NaN,NaN,0,Shot down by French anti-aircraft fire.

In [7]:
#hay muchos datos nulos en la columna que expresa la mortalidad, se procede a elimnar estos datos ya que el estudio trata de la tasa de esta. 
df=df.dropna(subset='cantidad de fallecidos')
df=df.dropna(subset='passenger_fatalities')

In [8]:
#vemos de nuevo el datset
df.head(30)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
6,6,"March 05, 1915",0100,"Tienen, Belgium",Military - German Navy,NaN,Zeppelin L-8 (airship),41,0,41,17,0,17,0,Crashed into trees while attempting to land af...
10,10,"October 01, 1916",2345,"Potters Bar, England",Military - German Navy,NaN,Zeppelin L-31 (airship),19,0,19,19,0,19,0,Shot down in flames by the British 39th Home D...
23,23,"December 16, 1918",NaN,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,Carl Smith was killed when his mail plane feet...
24,24,"May 25, 1919",NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,Caught fire in midair. The pilot leaped from t...
25,25,"July 19, 1919",NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,The mail plane crashed under unknown circumsta...
26,26,"July 21, 1919",1655,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,Shuttle,FD Type Dirigible,NaN,NaN,NaN,3,2,1,10,"The dirigible, cruising at 1,200 ft. caught fi..."
27,27,"August 02, 1919",NaN,"Verona, Italy",Caproni Company,Venice Taliedo,Caproni Ca.48,14,12,2,14,12,2,0,As the plane was passing over Verona the wings...
28,28,"October 02, 1919",NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,De Havilland DH-4,1,0,1,1,0,1,0,NaN
29,29,"October 14, 1919",NaN,"Cantonsville, Maryland",US Aerial Mail Service,NaN,Curtiss R-4LM,1,0,1,1,0,1,0,The pilot was performing a mail flight to Balt...
30,30,"October 20, 1919",NaN,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,NaN,De Havilland DH-4,0,0,1,0,0,0,0,Crashed into the sea while attempting to land ...
31,31,"October 30, 1919",NaN,"Long Valley, New Jersey",US Aerial Mail Service,NaN,De Havilland DH.4,1,0,1,1,0,1,0,While on a mail flight to New York the pilot e...
32,32,"December 11, 1919",NaN,"Catherham, Surrey, UK",Aircraft Travel Transport,Paris - Hounslow,de Havilland DH-4,1,1,1,1,1,1,0,Crashed in a field while attemptting to land.
33,33,"March 10, 1920",NaN,"New Paris, Indiana",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,"While on a a mail flight, the aircraft hit tre..."
34,34,"March 30, 1920",NaN,"Newark, New Jersey",US Aerial Mail Service,Washington - Newark,De Havilland DH-4,1,0,1,1,0,1,0,George Sherlock was killed when his mail plane...
35,35,"April 10, 1920",NaN,"Newark, New Jersey",US Aerial Mail Service,NaN,Curtiss R-4LM,2,1,1,1,0,1,0,After a fire erupted in flight the pilot decid...
36,36,"April 11, 1920",NaN,"Heller Field, New Jersey",US Aerial Mail Service,NaN,Curtiss JN-4H,2,1,1,1,0,1,0,The aircraft crashed while on approach for unk...
37,37,"May 12, 1920",NaN,"Oskaloosa, Iowa",US Aerial Mail Service,NaN,De Havilland DH-4,2,1,1,1,1,0,0,"In worsening weather conditions, the pilot los..."
38,38,"June 06, 1920",NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,The aircraft suffered engine failure and crash...
39,39,"July 20, 1920",NaN,"Cartagena, Columbia",Compañia Colombiana de Navegación Aérea,NaN,Farman F-40,1,1,1,1,1,1,0,Crashed while taking off after engine failure....
40,40,"August 16, 1920",NaN,"Bedford, England",By Air,NaN,Armstrong-Whitworth F-K-8,1,0,1,1,0,1,0,The plane crashed during a cargo flight under ...
41,41,"August 16, 1920",NaN,"College Park, Maryland",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,"While approaching in poor visibility to land, ..."
42,42,"September 01, 1920",NaN,"Morristown, New Jersey",US Aerial Mail Service,NaN,Junkers JL-6,2,0,2,2,0,2,0,"While en route, the mail plane went out of con..."
44,44,"September 27, 1920",NaN,"Hillersburg, Pennsylvania",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,The plane struck power lines and crashed in fl...
45,45,"October 02, 1920",NaN,"Off Port Vendres, France",Latecoere Airlines,NaN,Salmson 2-A-2,2,1,1,2,1,1,0,Crashed into the Mediterranean while on a mail...
46,46,"October 05, 1920",NaN,"Valencia, Spain",Latecoere Airlines,NaN,Breguet 14,2,1,1,2,1,1,0,While on a mail flight the plane crashed while...
47,47,"October 15, 1920",NaN,"Batavia, Illinois",US Aerial Mail Service,NaN,De Havilland DH-4,1,0,1,1,0,1,0,While attempting to land in fog the aircraft h...

In [9]:
#al ver que hay saltos en el indice del dataset le hacemos un pequeño recet
df=df.reset_index(drop=True)

In [10]:
#se debe arreglar la columna de fechas para poder usar estos datos
df['fecha'] = pd.to_datetime(df['fecha'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')

In [11]:
#vemos como quedo el dataset con estos cambios
df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,NaN,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,6,1915-03-05,0100,"Tienen, Belgium",Military - German Navy,NaN,Zeppelin L-8 (airship),41,0,41,17,0,17,0,Crashed into trees while attempting to land af...

In [12]:
#al parecer hay más columna que no parecen aportar al analisis por lo tanto procedere a eliminarlas 
df=df.drop(columns=['summary','route'])

In [13]:
#al aplicar la función me doy cuenta que hay caracters de mas en la columna tratare de arreglarla filtrando los datos y normalizando la columna 
df[df['HORA declarada'].str.len() > 4]
#veo los datos en excel para tener saber que datos debo reemplezar en python
df['HORA declarada'] = df['HORA declarada'].str.replace('c', '').str.replace('Z','').str.replace(';', '').str.replace(':','')

In [14]:
#vuelvo a filtrar
df[df['HORA declarada'].str.len()>4]

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground
64,84,1923-09-14,1800,"Near Ivinghoe, Buckinghamshire, England",Daimler Airways,de Havilland DH-34,5,3,2,5,3,2,0
74,95,1924-12-24,1200,"Purley, England",Imperial Airways,de Havilland DH-34B,8,7,1,8,7,1,0
94,117,1926-10-21,1315,English Channel,Imperial Airways,Handley Page W-10,12,10,2,0,0,0,0
134,157,1928-08-25,1100,"Near Port Townsend, BC, Canada",British Columbia Airways,Ford 4-AT-B Tri Motor,7,5,2,7,5,2,0
146,169,1928-12-01,1000,"Spur, Texas",Sunbeam Air Transport Co.,Ford 4-AT-B Tri Motor,5,4,1,5,4,1,0
191,214,1929-12-30,1700,"Amarillo, Texas",Trans Continental Air Transport,Travel Air B6000,5,3,2,5,3,2,0
205,228,1930-08-22,1545,"Iglau, Czechoslovakia",Ceskoslovenske Aerolinie,Ford 5-AT-C Tri Motor,11,10,1,10,9,1,0
251,275,1932-01-29,1600,"Lebec, California",Century Pacific Lines,Stinson SM-6000B,8,7,1,8,7,1,0
264,288,1932-07-16,0800,"Mount El Plomo, near Vitacura, Chile",Panagra,Ford 5-AT-C Tri Motor,9,6,3,9,6,3,0
304,329,1933-12-30,1300,"Near Ruysselede, Belgium",Imperial Airways,Avro 10,10,8,2,10,8,2,0
462,493,1938-02-02,2040,"Off San Clemente Island, California",Military - U.S. Navy / Military - U.S. Navy,Consolidated PBY-2 / Consolidated PBY-2,14,0,14,11,0,11,0
494,528,1938-08-29,2300,"Near Tucumcari, New Mexico",Transcontinental &Western Air,Ford Tri-motor,11,8,3,0,0,0,0
507,542,1938-12-08,0900,"Off Kuba Island, Okinawa",Japan Aviation Corporation,Nakajima A-T2,15,12,3,10,7,3,0
540,577,1940-02-27,1000,"Near Bucaramanga, Columbia",SCADTA,Boeing 247D,11,9,2,11,9,2,0
573,613,1941-08-10,2035,"Arran, Scotland",Military -Royal Air Force,Consolidated LB-30A Liberator,22,17,5,22,17,5,0
637,687,1943-08-01,1500,"Ploesti, Romania",Military - U.S. Army Air Forces,Consolidated B-24,10,0,10,10,0,10,63
789,858,1946-04-05,1115,"Rabat, Malta",Military - Royal British Navy,Vickers Wellington bomber,4,0,4,4,0,4,16
792,863,1946-05-16,0100,"Richmond, Virginia",Viking Air Transport,Douglas DC-3,27,25,2,27,25,2,0
812,887,1946-09-05,0200,"Elko, Nevada",Trans-Luxury Airlines,Douglas DC-3 (C-47-A5-DL),22,19,3,21,18,3,0
822,898,1946-10-03,0330,"Stephenville, Newfoundland",American Overseas Airlines,Douglas C-54E-5-DO,39,31,8,39,31,8,0
833,911,1946-11-14,2015,"Amsterdam, Netherlands",KLM Royal Dutch Airlines,Douglas C-47A-90 DL (DC-3),26,21,5,26,21,5,0
835,913,1946-11-26,1030,"San Jose, Costa Rica",Lineas Aéreas Costarricenses LACSA,Douglas DC-3 (C-47A-90-DL),22,20,2,22,20,2,0
851,930,1947-01-05,2000,"Carmel, New Jersey",Nationwide Air Transport,Douglas DC-3,23,20,3,3,2,1,0
1011,1094,1949-01-17,1340,"Atlantic Ocean, off Bermuda",British South American Airways,Avro 688 Tudor 4B,20,13,7,20,13,7,0
1041,1125,1949-08-02,1130,"Jaquirana, Brazil",Varig,Curtiss C-46D-10-CU,36,30,6,5,4,1,0
1052,1138,1949-10-28,0250,"San Miguel Island, Azores",Air France,Lockheed 749-79-33 Constellation,48,37,11,48,37,11,0
1053,1139,1949-11-01,1145,"Arlington, Virginia",Eastern Air Lines / Military - Bolivian Air Force,Douglas C-54B / P-38,55,51,4,55,51,4,0
1255,1356,1952-11-22,2015,"Mount Gannett, Alaska",Military - U.S. Air Force,Douglas C-124A Globemaster,52,41,11,52,41,11,0
1258,1360,1952-12-20,0630,"Moses Lake, Washington",Military - U.S. Air Force,Douglas C-124A Globemaster,115,105,10,87,82,5,0
2266,2396,1969-03-20,0200,"Near Aswan, Egypt",United Arab Airlines,Ilyushin IL-18D,105,98,7,100,93,7,0
2994,3144,1981-09-22,1200,"Near Babaeski, Turkey",Military - Turkish Air Force,Northrop F-5A,0,0,0,0,0,0,40

In [15]:
#voy a darle formato a la columna, al darle el formato de la columna da un error por espacios precedere a elimnarlos usando el comando strip
df['HORA declarada']=df['HORA declarada'].str.strip()
df['HORA declarada']=pd.to_datetime(df['HORA declarada'], format='%H%M').dt.time

In [16]:
df.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground
0,0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0,0
1,1,1909-09-07,NaT,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0,0
2,2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5,0
3,3,1913-08-06,NaT,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1,0,1,1,0,1,0
4,6,1915-03-05,01:00:00,"Tienen, Belgium",Military - German Navy,Zeppelin L-8 (airship),41,0,41,17,0,17,0

In [17]:
#la columna pasajeros abordo tiene vacios los cuales no tengo forma de llena por lo cual los voy a eliminar
df=df.dropna(subset='all_aboard')

In [18]:
#Por ultimo cambiare los nombres de las columnas para tener un formato mas uniforme
df.rename(columns={'HORA declarada':'hora_declarada','OperadOR':'operador','ac_type':'tipo_avion','all_aboard':'total_abordo','PASAJEROS A BORDO':'pasajeros',
 'crew_aboard':'tripulacion','cantidad de fallecidos':'total_fallecidos','passenger_fatalities':'pasajeros_fallecidos',
 'crew_fatalities':'tripulantes_fellecidos','ground':'fallecidos_tierra'},inplace=True)

In [19]:
#ultimo reset antes de guardar el nuevo dataset
df=df.reset_index(drop=True)

In [20]:
df.head()

,Unnamed: 0,fecha,hora_declarada,Ruta,operador,tipo_avion,total_abordo,pasajeros,tripulacion,total_fallecidos,pasajeros_fallecidos,tripulantes_fellecidos,fallecidos_tierra
0,0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0,0
1,1,1909-09-07,NaT,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0,0
2,2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5,0
3,3,1913-08-06,NaT,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1,0,1,1,0,1,0
4,6,1915-03-05,01:00:00,"Tienen, Belgium",Military - German Navy,Zeppelin L-8 (airship),41,0,41,17,0,17,0

In [21]:
df.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [22]:
df.head()

,fecha,hora_declarada,Ruta,operador,tipo_avion,total_abordo,pasajeros,tripulacion,total_fallecidos,pasajeros_fallecidos,tripulantes_fellecidos,fallecidos_tierra
0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0,0
1,1909-09-07,NaT,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0,0
2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5,0
3,1913-08-06,NaT,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1,0,1,1,0,1,0
4,1915-03-05,01:00:00,"Tienen, Belgium",Military - German Navy,Zeppelin L-8 (airship),41,0,41,17,0,17,0

In [23]:
total_vuelos = df.shape[0]
print(f'El número total de vuelos es: {total_vuelos}')

El número total de vuelos es: 4770

In [24]:
#columna pra kpi
df['total_fallecidos'] = df['total_fallecidos'].astype(int)
df['fallecidos'] = df['total_fallecidos'].apply(lambda x: 'Sí' if x > 0 else 'No')

In [25]:
#columna para kpi
tasa_accidentes = (
    df.groupby('Ruta')
    .agg(
        total_accidentes_ruta=('total_fallecidos', lambda x: (x > 0).sum()),
        total_vuelos_ruta=('Ruta', 'count')
    )
    .assign(tasa_accidentes=lambda x: x['total_accidentes_ruta'] / x['total_vuelos_ruta'])*100
)
df = pd.merge(df, tasa_accidentes, on='Ruta', how='left')

In [26]:
#columna para kpi
tasa_accidentes_operador = (
    df.groupby('operador')
    .agg(
        total_accidentes_operador=('total_fallecidos', lambda x: (x > 0).sum()),
        total_vuelos_operador=('operador', 'count')
    )
    .assign(tasa_accidentes=lambda x: x['total_accidentes_operador'] / x['total_vuelos_operador'])*100
)

df = pd.merge(df, tasa_accidentes_operador, on='operador', how='left')

In [27]:
#kpi
df['total_abordo'] = pd.to_numeric(df['total_abordo'], errors='coerce')

df['tasa_mortalidad'] = (df['total_fallecidos'] / df['total_abordo']) * 100

In [28]:
#kpi
df['supervivientes'] = df['total_abordo'] - df['total_fallecidos']
df['tasa_supervivientes'] = (df['supervivientes'] / df['total_abordo']) * 100

In [30]:
#aqui se exporta el archivo csv
df.to_csv('df.csv',index=False)